<div class="menu col-md-3 col-xs-4">
  <div class="section location">
    <i class="icon-room"></i>
    <h3>{{ 'LOCATION' | translate }}</h3>
    <p>Estonia</p>
    <p>Tallinn</p>
  </div>

  <div class="header">
    <ul>
      <li ><a href="" id="activity-menu"><i class="icon-dvr"></i></a></li>
      <li><a href="" id="inbox-menu"><i class="icon-chat"></i><span class="animated fadeInUp">3</span></a></li>
      <li class="active"><a href="" id="search-menu"><i class="icon-search"></i></a></li>
    </ul>
  </div>
  <div class="menu-collection">
    <div class="search-menu animated active">


      <div class="section tag-cloud keywords">
        <h3>{{'GROUPS_YOURS' | translate}}</h3>
        <div class="section search-box">
          <div class="search-textarea" contenteditable="false">
            <span class="active">Click tags below to add groups of your interest</span>
            <div class="result-controls">
              <a href="" class="remove-all">remove all</a>
              <a href="">save to favorites</a>
            </div>
          </div>
        </div>
      </div>

      <div class="section tag-cloud groups">
        <h3>Trending groups</h3>
        <ul>
          <li><a href="" class="tag groups" data-toggle="tooltip" title="Items that users are willing to give away for free">@give-away</a></li>
          <li><a href="" class="tag groups">@euro-club</a></li>
          <li><a href="" class="tag groups">@moms-kids</a></li>
          <li><a href="" class="tag groups">@girls-club</a></li>
          <li><a href="" class="tag groups">@electronics</a></li>
          <li><a href="" class="tag groups">@flew-market</a></li>
          <li><a href="" class="tag groups">@handsmade</a></li>
          <li><a href="" class="tag groups">@tickets-coupons-giftcards</a></li>
          <li><a href="" class="tag groups">@offer-job</a></li>
          <li><a href="" class="tag groups">@apartment-rent</a></li>
          <li><a href="" class="tag groups">@furniture</a></li>
        </ul>
        <a class="show-more " href="">Show more 20 groups ...</a>
      </div>

      <div class="section tag-cloud discounts">
        <h3>Trending discounts</h3>
        <ul>
          <li><a href="" class="tag discounts">$grocery</a></li>
          <li><a href="" class="tag discounts">$prisma</a></li>
          <li><a href="" class="tag discounts">$zara</a></li>
          <li><a href="" class="tag discounts">$beauty-and-spa</a></li>
          <li><a href="" class="tag discounts">$h&m</a></li>
          <li><a href="" class="tag discounts">$cosmetics</a></li>
        </ul>
        <a class="show-more " href="">Show more 20 dicounts ...</a>
      </div>
    </div>

    <!-- Inbox menu --->
    <div class="inbox-menu animated">
      <div class="comment">
        <div class="comment-avatar">
          <img src="images/avatar-user.jpg" alt=""/>
        </div>
        <div class="comment-body">
          <span class="comment-user">Kenny McCormick</span>
          <span class="comment-text">I will take it for $25</span>
        </div>
      </div>
      <div class="comment">
        <div class="comment-avatar">
          <img src="images/avatar-user2.jpg" alt=""/>
        </div>
        <div class="comment-body">
          <span class="comment-user">Eric Cartman</span>
          <span class="comment-text">How much for the entire set?</span>
        </div>
      </div>
      <div class="comment">
        <div class="comment-avatar">
          <img src="images/avatar-logged-in.jpg" alt=""/>
        </div>
        <div class="comment-body">
          <span class="comment-user">Timmy</span>
          <span class="comment-text">Let's agree where we meet or maybe you can send it to my by post. I will pay postage.</span>
        </div>
      </div>
      <div class="comment">
        <div class="comment-avatar">
          <img src="images/avatar-user.jpg" alt=""/>
        </div>
        <div class="comment-body">
          <span class="comment-user">Stan Marsh</span>
          <span class="comment-text">My price $25</span>
        </div>
      </div>
      <div class="comment">
        <div class="comment-avatar">
          <img src="images/avatar-user2.jpg" alt=""/>
        </div>
        <div class="comment-body">
          <span class="comment-user">Kyle Broflovski</span>
          <span class="comment-text">Are you willing to exchange it for model B</span>
        </div>
      </div>
    </div>
    <!-- end Inbox menu --->

    <!-- Activity menu --->
    <div class="activity-menu animated">
      <div class="activity-item">
        <span><i class="icon-report-problem"></i></span>
        <span>You <em>reported post</em> <span class="time-stamp">February 16 at 6:02pm</span></span>
        <span class="undo">undo<br><i class="icon-restore"></i></span>
      </div>
      <div class="activity-item">
        <span><i class="icon-chat"></i></span>
        <span>You <em>left comment</em> to <a href="">Eric Cartman</a> <span class="time-stamp">1h ago</span></span>
        <span class="undo">undo<br><i class="icon-restore"></i></span>
      </div>
      <div class="activity-item">
        <span><i class="icon-view-list"></i></span>
        <span>You <em>some very long action goes here</em> for <a href="">Kyle Broflovski</a> <span class="time-stamp">February 16 at 6:02pm</span></span>
        <span class="undo">undo<br><i class="icon-restore"></i></span>
      </div>
      <div class="activity-item">
        <span><i class="icon-edit"></i></span>
        <span>You <em>updated post</em> <span class="time-stamp">1h ago</span></span>
        <span class="undo">undo<br><i class="icon-restore"></i></span>
      </div>
    </div>
    <!-- end Activity menu --->

  </div>

</div>

<div class="messanger animated fadeInUp">
  <a href="" class="close-btn"><i class="icon-highlight-remove"></i></a>
  <div class="message">
    <div class="message-avatar">
      <img src="images/avatar-user.jpg" alt=""/>
    </div>
    <div class="message-body">
      <span class="message-text">My price $25</span>
    </div>
  </div>

  <div class="message owner">
    <div class="message-avatar">
      <img src="images/avatar-logged-in.jpg" alt=""/>
    </div>
    <div class="message-body">
      <span class="message-text">How about $30, I think it's fare price</span>
    </div>
  </div>

  <div class="message">
    <div class="message-avatar">
      <img src="images/avatar-user.jpg" alt=""/>
    </div>
    <div class="message-body">
      <span class="message-text">Ok, deal. When can I come and get it?</span>
    </div>
  </div>
  <div class="comment">
    <div class="comment-avatar">
      <img src="images/avatar-logged-in.jpg" alt="">
    </div>
    <div class="comment-body">
      <i class="icon-chat"></i>
      <textarea placeholder="Write your comment..."></textarea>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.header ul li a').click(function(){
      $('.header ul li').removeClass('active');
      $(this).parents('li').addClass('active');
    });
    $('#search-menu').click(function(){
      $('.inbox-menu').removeClass('active ');
      $('.activity-menu').removeClass('active ');
      $('.search-menu').addClass('active ');
    });
    $('#inbox-menu').click(function(){
      $('.search-menu').removeClass('active ');
      $('.activity-menu').removeClass('active ');
      $('.inbox-menu').addClass('active ');
    });
    $('#activity-menu').click(function(){
      $('.inbox-menu').removeClass('active ');
      $('.search-menu').removeClass('active ');
      $('.activity-menu').addClass('active ');
    });
    $('.messanger .close-btn').click(function(){
      $(this).parents('.messanger').removeClass('active')
    });
    $('.inbox-menu .comment').click(function(){
      $('.messanger').addClass('active')
    });
    $('.comment .remove').click(function(){
      $(this).parents('.comment').hide();
    });
    $('textarea').elastic();

    $('.tag-cloud ul li a').click(function(){
      var getTag = $(this).clone().wrap('<div>').parent().html();
      console.log(getTag);
      $('.search-box .search-textarea').append( getTag + ' ');
      $('.search-box .search-textarea .result-controls').addClass('active');
      $('.search-box .search-textarea span').removeClass('active');
    });
    $('.search-box .remove-all').click(function(){
      $('.search-box .search-textarea .tag').hide();
      $(this).parents('.result-controls').removeClass('active');
      $('.search-box .search-textarea span').addClass('active');
    });
  });

</script>