
<div class="row">

<!-- Loading navigation --->
<div ng-include='"views/shared/_navigation.html"'></div>
<!-- end Loading navigation --->

<!-- Content --->
<div class="content  col-md-9 col-xs-8">
<div class="col-md-6">

<!-- Create post --->
<div class="col-md-12 create-post">
  <textarea placeholder="Have something to sell or give away? "></textarea>
  <div class="create-post-tools">
    <ul class="clearfix">
      <li><a href=""><i class="icon-camera-alt"></i></a></li>
      <li><a href=""><i class="icon-email"></i></a></li>
      <li class="pull-right"><a href="" class="btn btn-primary">Post <i class="icon-add"></i></a></li>
    </ul>
  </div>
</div>
<!-- end Create post --->

<!-- Post controls --->
<div class="post-controls col-md-12">
  <ul class="post-controls-content">
    <li class="active"><a href=""  class="">Show all</a></li>
    <li><a href=""  class="">Favorites</a></li>
    <li><a href=""  class="">My Posts</a></li>
    <li><a href="" class="">Follow list</a></li>
  </ul>
  <ul class="post-controls-layout">
    <li class="active"><a href=""  class="set-list-view"><i class="icon-view-list"></i></a></li>
    <li><a href="" class="set-gallery-view"><i class="icon-view-module"></i></a></li>
  </ul>
  <div class="search-wrap">
    <input style='min-height: 2em' placeholder="Type keywords to begin search">
    <i class="icon-search"></i>
  </div>
</div>
<!-- end Post controls --->

<!-- Post --->
<div class="col-md-12 post">
  <div class="post-tools">
    <ul class="clearfix">
      <li><a href=""><i class="icon-edit"></i></a></li>
      <li><a href=""><i class="icon-arrow-up-thick"></i></a></li>
      <li class="pull-right"><a href=""><i class="icon-bin"></i></a></li>
    </ul>
  </div>

  <div class="post-owner">
    <div class="post-owner-avatar">
      <img src="images/avatar-logged-in.jpg" alt=""/>
    </div>
    <div class="post-owner-name">
            <span>
              User name <br>
              <span class="time-stamp">February 15 at 6:02pm</span>
            </span>
    </div>
  </div>

  <div class="post-desc">
    <p>Qui dicat delenit eloquentiam ea, vix justo philosophia in. Has causae erroribus at, mei cu clita. Has causae erroribus at, mei cu clita $20.          </p>
  </div>

  <div class="post-tags tag-cloud groups">
    <ul>
      <li><a href="">@apartments-for-rent</a></li>
      <li><a href="">@tallinn-moms</a></li>
    </ul>
  </div>

  <div class="post-gallery">
    <img src="images/designs/sample-image1.jpg" alt=""/>
  </div>

  <div class="post-comments">
    <div class="post-comments-show">
      <a href=""><i class="icon-chat"></i> Read more <span>2</span> comments</a>
    </div>
    <div class="post-comments-list">
      <div class="comment">
        <a class="remove" href=""><i class="icon-highlight-remove"></i></a>
        <div class="comment-avatar">
          <img src="images/avatar-user.jpg" alt=""/>
        </div>
        <div class="comment-body">
          <span class="comment-user">User name</span>
          <span class="comment-text">Some comment by user is left here. I will take it for Some comment by user is left here. I will take it for $20</span>
        </div>
      </div>
      <div class="comment">
        <a class="remove" href=""><i class="icon-highlight-remove"></i></a>
        <div class="comment-avatar">
          <img src="images/avatar-user2.jpg" alt=""/>
        </div>
        <div class="comment-body">
          <span class="comment-user">User name</span>
          <span class="comment-text">I will take it for $25</span>
        </div>
      </div>
      <div class="comment">
        <div class="comment-avatar">
          <img src="images/avatar-logged-in.jpg" alt=""/>
        </div>
        <div class="comment-body">
          <i class="icon-chat"></i>
          <textarea placeholder="Write your comment..."></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="post-actions clearfix">
    <div class="post-actions-share">
      <span>Share <i class="icon-share"></i></span>
    </div>
  </div>
</div>
<!-- end Post --->

<div class="col-md-12 post">

  <div class="post-owner">
    <div class="post-owner-avatar">
      <img src="images/avatar-user2.jpg" alt=""/>
    </div>
    <div class="post-owner-name">
            <span>
              User name <br>
              <span class="time-stamp">February 15 at 6:02pm</span>
            </span>
    </div>
  </div>

  <div class="post-watch">
    <a href="">Follow <i class="icon-add-circle-outline"></i></a>
  </div>

  <div class="post-desc">
    <p>Qui dicat delenit eloquentiam ea, vix justo philosophia in. Has causae erroribus at, mei cu clita. Has causae erroribus at, mei cu clita $20.          </p>
  </div>

  <div class="post-tags tag-cloud groups">
    <ul>
      <li><a href="">@apartments-for-rent</a></li>
      <li><a href="">@tallinn-moms</a></li>
    </ul>
  </div>

  <div class="post-gallery"></div>

  <div class="post-comments">
    <div class="post-comments-show">
      <a href=""><i class="icon-chat"></i> Read more <span>2</span> comments</a>
    </div>
    <div class="post-comments-list">
      <div class="comment">
        <a class="remove" href=""><i class="icon-highlight-remove"></i></a>
        <div class="comment-avatar">
          <img src="images/avatar-user2.jpg" alt=""/>
        </div>
        <div class="comment-body">
          <span class="comment-user">User name</span>
          <span class="comment-text">I will take it for $25</span>
        </div>
      </div>
      <div class="comment">
        <a class="remove" href=""><i class="icon-highlight-remove"></i></a>
        <div class="comment-avatar">
          <img src="images/avatar-logged-in.jpg" alt=""/>
        </div>
        <div class="comment-body">
          <i class="icon-chat"></i>
          <textarea placeholder="Write your comment..."></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="post-actions clearfix">
    <div class="post-actions-share">
      <span>Share <i class="icon-share"></i></span>
    </div>

    <div class="post-actions-report">
      <span>Report <i class="icon-report-problem"></i></span>
      <ul>
        <li><a href="">Spam / Abuse</a></li>
        <li><a href="">Remove from my results</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="col-md-12 post">

  <div class="post-owner">
    <div class="post-owner-avatar">
      <img src="images/avatar-user2.jpg" alt=""/>
    </div>
    <div class="post-owner-name">
            <span>
              User name <br>
              <span class="time-stamp">February 15 at 6:02pm</span>
            </span>
    </div>
  </div>

  <div class="post-watch">
    <a href="">Follow <i class="icon-add-circle-outline"></i></a>
  </div>

  <div class="post-desc">
    <p>Qui dicat delenit eloquentiam ea, vix justo philosophia in. Has causae erroribus at, mei cu clita. Has causae erroribus at, mei cu clita $20.          </p>
  </div>

  <div class="post-tags tag-cloud groups">
    <ul>
      <li><a href="">@apartments-for-rent</a></li>
      <li><a href="">@tallinn-moms</a></li>
    </ul>
  </div>

  <div class="post-gallery">
    <img src="images/designs/sample-image5.jpg" alt=""/>
  </div>

  <div class="post-comments">
    <div class="post-comments-show">
      <a href=""><i class="icon-chat"></i> Read more <span>2</span> comments</a>
    </div>
    <div class="post-comments-list">
      <div class="comment">
        <a class="remove" href=""><i class="icon-highlight-remove"></i></a>
        <div class="comment-avatar">
          <img src="images/avatar-user2.jpg" alt=""/>
        </div>
        <div class="comment-body">
          <span class="comment-user">User name</span>
          <span class="comment-text">I will take it for $25</span>
        </div>
      </div>
      <div class="comment">
        <a class="remove" href=""><i class="icon-highlight-remove"></i></a>
        <div class="comment-avatar">
          <img src="images/avatar-logged-in.jpg" alt=""/>
        </div>
        <div class="comment-body">
          <i class="icon-chat"></i>
          <textarea placeholder="Write your comment..."></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="post-actions clearfix">
    <div class="post-actions-share">
      <span>Share <i class="icon-share"></i></span>
    </div>

    <div class="post-actions-report">
      <span>Report <i class="icon-report-problem"></i></span>
      <ul>
        <li><a href="">Spam / Abuse</a></li>
        <li><a href="">Remove from my results</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-12 post">
  <!--<div class="post-tools">-->
  <!--<ul class="clearfix">-->
  <!--<li><a href=""><i class="icon-edit"></i></a></li>-->
  <!--<li><a href=""><i class="icon-arrow-up-thick"></i></a></li>-->
  <!--<li class="pull-right"><a href=""><i class="icon-bin"></i></a></li>-->
  <!--</ul>-->
  <!--</div>-->

  <div class="post-owner">
    <div class="post-owner-avatar">
      <img src="images/avatar-user2.jpg" alt=""/>
    </div>
    <div class="post-owner-name">
            <span>
              User name <br>
              <span class="time-stamp">February 15 at 6:02pm</span>
            </span>
    </div>
  </div>

  <div class="post-watch">
    <a href="">Follow <i class="icon-add-circle-outline"></i></a>
  </div>

  <div class="post-desc">
    <p>Qui dicat delenit eloquentiam ea, vix justo philosophia in. Has causae erroribus at, mei cu clita. Has causae erroribus at, mei cu clita $20.          </p>
  </div>

  <div class="post-tags tag-cloud groups">
    <ul>
      <li><a href="">@apartments-for-rent</a></li>
      <li><a href="">@tallinn-moms</a></li>
    </ul>
  </div>

  <div class="post-gallery">
    <img src="images/designs/sample-image7.jpg" alt=""/>
    <img src="images/designs/sample-image6.jpg" alt=""/>
  </div>

  <div class="post-comments">
    <div class="post-comments-show">
      <a href=""><i class="icon-chat"></i> Read more <span>2</span> comments</a>
    </div>
    <div class="post-comments-list">
      <div class="comment">
        <div class="comment-avatar">
          <img src="images/avatar-user2.jpg" alt=""/>
        </div>
        <div class="comment-body">
          <span class="comment-user">User name</span>
          <span class="comment-text">I will take it for $25</span>
        </div>
      </div>
      <div class="comment">
        <div class="comment-avatar">
          <img src="images/avatar-logged-in.jpg" alt=""/>
        </div>
        <div class="comment-body">
          <i class="icon-chat"></i>
          <textarea placeholder="Write your comment..."></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="post-actions clearfix">
    <div class="post-actions-share">
      <span>Share <i class="icon-share"></i></span>
    </div>

    <div class="post-actions-report">
      <span>Report <i class="icon-report-problem"></i></span>
      <ul>
        <li><a href="">Spam / Abuse</a></li>
        <li><a href="">Remove from my results</a></li>
      </ul>
    </div>
  </div>
</div>



</div>
<div class="col-md-6">
<div class="col-md-12 post">
  <!--<div class="post-tools">-->
  <!--<ul class="clearfix">-->
  <!--<li><a href=""><i class="icon-edit"></i></a></li>-->
  <!--<li><a href=""><i class="icon-arrow-up-thick"></i></a></li>-->
  <!--<li class="pull-right"><a href=""><i class="icon-bin"></i></a></li>-->
  <!--</ul>-->
  <!--</div>-->

  <div class="post-owner">
    <div class="post-owner-avatar">
      <img src="images/avatar-user.jpg" alt=""/>
    </div>
    <div class="post-owner-name">
            <span>
              User name <br>
              <span class="time-stamp">February 15 at 6:02pm</span>
            </span>
    </div>
  </div>

  <div class="post-watch">
    <a href="">Follow <i class="icon-add-circle-outline"></i></a>
  </div>

  <div class="post-desc">
    <p>Qui dicat delenit eloquentiam ea, vix justo philosophia in. Has causae erroribus at, mei cu clita. Has causae erroribus at, mei cu clita $20.          </p>
  </div>

  <div class="post-tags tag-cloud groups">
    <ul>
      <li><a href="">@apartments-for-rent</a></li>
      <li><a href="">@tallinn-moms</a></li>
    </ul>
  </div>

  <div class="post-gallery">
    <img src="images/designs/sample-image3.jpg" alt=""/>
  </div>

  <div class="post-comments">
    <div class="post-comments-show">
      <a href=""><i class="icon-chat"></i> Read more <span>2</span> comments</a>
    </div>
    <div class="post-comments-list">
      <div class="comment">
        <div class="comment-avatar">
          <img src="images/avatar-user2.jpg" alt=""/>
        </div>
        <div class="comment-body">
          <span class="comment-user">User name</span>
          <span class="comment-text">I will take it for $25</span>
        </div>
      </div>
      <div class="comment">
        <div class="comment-avatar">
          <img src="images/avatar-logged-in.jpg" alt=""/>
        </div>
        <div class="comment-body">
          <i class="icon-chat"></i>
          <textarea placeholder="Write your comment..."></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="post-actions clearfix">
    <div class="post-actions-share">
      <span>Share <i class="icon-share"></i></span>
    </div>

    <div class="post-actions-report">
      <span>Report <i class="icon-report-problem"></i></span>
      <ul>
        <li><a href="">Spam / Abuse</a></li>
        <li><a href="">Remove from my results</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-12 post">
  <!--<div class="post-tools">-->
  <!--<ul class="clearfix">-->
  <!--<li><a href=""><i class="icon-edit"></i></a></li>-->
  <!--<li><a href=""><i class="icon-arrow-up-thick"></i></a></li>-->
  <!--<li class="pull-right"><a href=""><i class="icon-bin"></i></a></li>-->
  <!--</ul>-->
  <!--</div>-->

  <div class="post-owner">
    <div class="post-owner-avatar">
      <img src="images/avatar-user.jpg" alt=""/>
    </div>
    <div class="post-owner-name">
            <span>
              User name <br>
              <span class="time-stamp">February 15 at 6:02pm</span>
            </span>
    </div>
  </div>

  <div class="post-watch">
    <a href="">Follow <i class="icon-add-circle-outline"></i></a>
  </div>

  <div class="post-desc">
    <p>Qui dicat delenit eloquentiam ea, vix justo philosophia in. Has causae erroribus at, mei cu clita. Has causae erroribus at, mei cu clita $20.          </p>
  </div>

  <div class="post-tags tag-cloud groups">
    <ul>
      <li><a href="">@apartments-for-rent</a></li>
      <li><a href="">@tallinn-moms</a></li>
    </ul>
  </div>

  <div class="post-gallery">
    <img src="images/designs/sample-image4.jpg" alt=""/>
  </div>

  <div class="post-comments">
    <div class="post-comments-show">
      <a href=""><i class="icon-chat"></i> Read more <span>2</span> comments</a>
    </div>
    <div class="post-comments-list">
      <div class="comment">
        <div class="comment-avatar">
          <img src="images/avatar-user2.jpg" alt=""/>
        </div>
        <div class="comment-body">
          <span class="comment-user">User name</span>
          <span class="comment-text">I will take it for $25</span>
        </div>
      </div>
      <div class="comment">
        <div class="comment-avatar">
          <img src="images/avatar-logged-in.jpg" alt=""/>
        </div>
        <div class="comment-body">
          <i class="icon-chat"></i>
          <textarea placeholder="Write your comment..."></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="post-actions clearfix">
    <div class="post-actions-share">
      <span>Share <i class="icon-share"></i></span>
    </div>

    <div class="post-actions-report">
      <span>Report <i class="icon-report-problem"></i></span>
      <ul>
        <li><a href="">Spam / Abuse</a></li>
        <li><a href="">Remove from my results</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-12 post">
  <!--<div class="post-tools">-->
  <!--<ul class="clearfix">-->
  <!--<li><a href=""><i class="icon-edit"></i></a></li>-->
  <!--<li><a href=""><i class="icon-arrow-up-thick"></i></a></li>-->
  <!--<li class="pull-right"><a href=""><i class="icon-bin"></i></a></li>-->
  <!--</ul>-->
  <!--</div>-->

  <div class="post-owner">
    <div class="post-owner-avatar">
      <img src="images/avatar-user2.jpg" alt=""/>
    </div>
    <div class="post-owner-name">
            <span>
              User name <br>
              <span class="time-stamp">February 15 at 6:02pm</span>
            </span>
    </div>
  </div>

  <div class="post-watch">
    <a href="">Follow <i class="icon-add-circle-outline"></i></a>
  </div>

  <div class="post-desc">
    <p>Qui dicat delenit eloquentiam ea, vix justo philosophia in. Has causae erroribus at, mei cu clita. Has causae erroribus at, mei cu clita $20.          </p>
  </div>

  <div class="post-tags tag-cloud groups">
    <ul>
      <li><a href="">@apartments-for-rent</a></li>
      <li><a href="">@tallinn-moms</a></li>
    </ul>
  </div>

  <div class="post-gallery">
    <img src="images/designs/sample-image6.jpg" alt=""/>
  </div>

  <div class="post-comments">
    <div class="post-comments-show">
      <a href=""><i class="icon-chat"></i> Read more <span>2</span> comments</a>
    </div>
    <div class="post-comments-list">
      <div class="comment">
        <div class="comment-avatar">
          <img src="images/avatar-user2.jpg" alt=""/>
        </div>
        <div class="comment-body">
          <span class="comment-user">User name</span>
          <span class="comment-text">I will take it for $25</span>
        </div>
      </div>
      <div class="comment">
        <div class="comment-avatar">
          <img src="images/avatar-logged-in.jpg" alt=""/>
        </div>
        <div class="comment-body">
          <i class="icon-chat"></i>
          <textarea placeholder="Write your comment..."></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="post-actions clearfix">
    <div class="post-actions-share">
      <span>Share <i class="icon-share"></i></span>
    </div>

    <div class="post-actions-report">
      <span>Report <i class="icon-report-problem"></i></span>
      <ul>
        <li><a href="">Spam</a></li>
        <li><a href="">Inappropriate content</a></li>
        <li><a href="">Remove from my results</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-12 post">
  <!--<div class="post-tools">-->
  <!--<ul class="clearfix">-->
  <!--<li><a href=""><i class="icon-edit"></i></a></li>-->
  <!--<li><a href=""><i class="icon-arrow-up-thick"></i></a></li>-->
  <!--<li class="pull-right"><a href=""><i class="icon-bin"></i></a></li>-->
  <!--</ul>-->
  <!--</div>-->

  <div class="post-owner">
    <div class="post-owner-avatar">
      <img src="images/avatar-user2.jpg" alt=""/>
    </div>
    <div class="post-owner-name">
            <span>
              User name <br>
              <span class="time-stamp">February 15 at 6:02pm</span>
            </span>
    </div>
  </div>

  <div class="post-watch">
    <a href="">Follow <i class="icon-add-circle-outline"></i></a>
  </div>

  <div class="post-desc">
    <p>Qui dicat delenit eloquentiam ea, vix justo philosophia in. Has causae erroribus at, mei cu clita. Has causae erroribus at, mei cu clita $20.          </p>
  </div>

  <div class="post-tags tag-cloud groups">
    <ul>
      <li><a href="">@apartments-for-rent</a></li>
      <li><a href="">@tallinn-moms</a></li>
    </ul>
  </div>

  <div class="post-gallery">
    <img src="images/designs/sample-image2.jpg" alt=""/>
  </div>

  <div class="post-comments">
    <div class="post-comments-show">
      <a href=""><i class="icon-chat"></i> Read more <span>2</span> comments</a>
    </div>
    <div class="post-comments-list">
      <div class="comment">
        <div class="comment-avatar">
          <img src="images/avatar-user2.jpg" alt=""/>
        </div>
        <div class="comment-body">
          <span class="comment-user">User name</span>
          <span class="comment-text">I will take it for $25</span>
        </div>
      </div>
      <div class="comment">
        <div class="comment-avatar">
          <img src="images/avatar-logged-in.jpg" alt=""/>
        </div>
        <div class="comment-body">
          <i class="icon-chat"></i>
          <textarea placeholder="Write your comment..."></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="post-actions clearfix">
    <div class="post-actions-share">
      <span>Share <i class="icon-share"></i></span>
    </div>

    <div class="post-actions-report">
      <span>Report <i class="icon-report-problem"></i></span>
      <ul>
        <li><a href="">Spam</a></li>
        <li><a href="">Inappropriate content</a></li>
        <li><a href="">Remove from my results</a></li>
      </ul>
    </div>
  </div>
</div>

</div>
</div>
</div>
<script type="text/javascript">

  $( document ).ready(function() {
    $('.post-gallery').click(function(){
      $(this).parents('.post').toggleClass('show-this');
    });
    $('.set-gallery-view').click(function(){
      $('.content').addClass('gallery-view');
    });
    $('.set-list-view').click(function(){
      $('.content').removeClass('gallery-view');
    });
    $('.post-controls-content li a').click(function(){
      $('.post-controls-content li').removeClass('active');
      $(this).parents('li').addClass('active');
    });
    $('.post-controls-layout li a').click(function(){
      $('.post-controls-layout li').removeClass('active');
      $(this).parents('li').addClass('active');
    });
    $('.post-watch').click(function(){
      $(this).toggleClass('active');
      $(this).find('i').toggleClass('icon-add-circle-outline icon-check')
    });
    $('.post-actions-report span').click(function(){
      $(this).next('ul').toggleClass('active');
    });
    $('.post-actions-report ul').blur(function(){
      $(this).removeClass('active');
    });
    $('.post-owner').click(function(){
      $('.messanger').addClass('active')
    });

    function isEmpty( el ){
      return !$.trim(el.html())
    }

    $('.post').each(function(){
      if($(".post-gallery").html().trim()) {
        console.log('Ok');
      }
      else {
        console.log('NoOk')
      }
    })
  });
</script>